@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
html, body{
    background-image: url(./Fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'DynaPuff', cursive;   
    align-items: center;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
#imgperfil > img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
#imgperfil{
    width: 150px;
    height: 150px;
    background:linear-gradient(to right, blueviolet, aqua, orangered);
    border-radius: 50%;
    padding: 6px;
}
li, a{
    text-decoration: none;
    list-style: none;
}
a{
    margin: 8px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
h2{
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
}
p{
    text-align: left;
    font-size: 20px;
    opacity: .6;
    margin-left: 30px;
}
.games{
    height: 130px;
    width: 90px;
    transition: all .5s;
}
.games:hover{
    height: 135px;
    width: 95px;
}
section, main{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 100%;
    background:linear-gradient(to right, blueviolet, aqua, orangered);
    padding-top: 4px;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}
section > div{
    background-color: #1C1C1C;
    margin-top: 5px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}
.streamers{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
main{
    margin: 5px auto;
    flex-direction: column;
    max-width: 540px;
    width: 90%;
}
.sociais{
    width: 60px;
    height:50px;
}
footer{
    color:white;
}
footer > p{
    text-align: right;
    margin-right: 50px;
}